* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:#fff
}
html,body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    height: 100%;
    width:100%

}
#main{
    height: 100%;
    width:100%;
    background-color: #000;
}

#nav{
    height: 140px;
    width: 100%;
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 0 40px;
}
#nav-ptr2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:45%
}

#nav h1 {
    font-size: 20px;
    text-transform: capitalize;
    display: flex;
    align-items: center;
}

#nav i {
    font-size: 22px;

}

#nav h5 {
    font-size: 14px;
    text-transform: capitalize;
    
}

#line{
    width:70px;
    height: 3px;
    background-color: red;
}

#content{
    height: calc(100% - 140px);
    width:100%;
    display: flex;

}

#left{
    width:35%;
    height: 100%;
    padding: 160px 80px;
}
#center{
    width:70%;
    height: 100%;
}
#right{
    width:35%;
    height: 100%;
}
#left h1{
    font-size: 40px;
    line-height: 60px;
    margin-bottom: 20px;
}
#left h1 span{
   color:red
}
#left p{
    font-size: 17px;
    width:70%;
    margin-bottom: 20px;
 }
