* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#main {
    height: 100%;
    width: 100%;
    background-color: hsla(276, 32%, 56%, 0.882);
    display: flex;
    overflow: hidden;
}

#part1 {
    height: 100%;
    width: 26%;
    /* background-color: red; */
}

#part2 {
    height: 100%;
    width: 67%;
    /* background-color: rgb(51, 0, 255); */
    background-image: url(https://plus.unsplash.com/premium_photo-1667520043080-53dcca77e2aa?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8bW9kZWxzfGVufDB8fDB8fHww);
    background-size: cover;
    background-position: center;
}

#overlay {
    height: 100%;
    width: 100%;
    background-color: hsla(276, 32%, 56%, 0.395);
}

#part3 {
    height: 100%;
    width: 7%;
    /* background-color: rgb(40, 85, 60); */
}

#text-div {
    /* height:300px; */
    position: absolute;
    width: 400px;
    /* background-color: antiquewhite; */
    left: 7%;
    top: 50%;
    transform: (0, -50%);
}

#text-div>h1 {
    font-size: 95px;
    font-family: monument;
    font-weight: 800;
    line-height: 78px;
    color: #fff;
    letter-spacing: 8px;
}

#small-img-div {
    height: 400px;
    width: 300px;
    /* background-color: #fff; */
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translate(0, -50%);
    background-image: url(https://images.unsplash.com/photo-1524502397800-2eeaad7c3fe5?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjR8fG1vZGVsc3xlbnwwfHwwfHx8MA%3D%3D);
    background-size: cover;
    background-position: center;
}

#vertical-text {
    position: absolute;
    transform: rotate(90deg);
    right: -61%;
    transform-origin: 0% 0%;
    top: -3%;
    /* width: 100%; */
    /* background-color: aliceblue; */
}

#vertical-text h1 {
    font-size: 80px;
    font-weight: 900;
    font-family: monument;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #fff;
    color: transparent;
    letter-spacing: 15px;

}

#nav {
    position: absolute;
    width: 450px;
    left: 1%;
    top: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: aliceblue; */
}

#nav img {
    height: 60px;
}

#nav h5 {
    font-size: 20px;
    font-family: gilroy;
    color: #fff;
}